* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:black;
}
#message {
    display: none;
}
img{
    width: 50%;
}
/* search bar */
.searchContainer {
    display: grid;
    grid-template-columns:1.5rem 4fr 1fr;
    width:300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  .searchContainer:focus-within i {
    display: block;
  }
  .searchContainer:focus-within .searchBox{
    grid-column:1/4;
  }
  .searchContainer:focus-within .searchBox::placeholder {
    color:transparent;
  }
  .searchIcon {
    padding: 0.5rem;
    grid-row:1;
    grid-column:1/2;
    z-index:2
  }
  .searchBox {
    border: 0;
    padding: 0.5rem;
    grid-column:2/4;
    grid-row:1;
    outline:none;
  }
  .searchButton {
    background: #EE6C4E;
    border: 0;
    color: white;
    padding: 0.5rem;
    border-radius: 0;
    grid-column:4/5;
    grid-row:1;
  }
  .icon-check{
      background-color: #EE6C4E;
  }